@font-face {
  
  font-family: 'mona_font';
  src: url('Saitamaar.woff2') format('woff2');
  font-size: 12px;
}

body{
    font-family: 'mona_font', sans-serif;
    min-width: 1024px;
    background-color: #f0f0f0;
}   
.title{
    font-size: 19px;
    margin-top: 0.1em;   
    margin-bottom: 1em; 
    letter-spacing: 0.1em;
    color: #FF0000; 
}
.name{
    color: #008000; 
}
.main{

    white-space: pre;
    display: block;
    margin-left: 2.5em;
   
}
.menu_bar{
    margin-top: 0px;   
    margin-bottom: 0px;
}
hr{
    margin-top: 0px;   
    margin-bottom: 0px;
}
.resu{
    line-height:1.125;
}